body {
  font-family: "Apple SD Gothic Neo", "Noto Sans KR", "Nanum Barun Gothic", "Malgun Gothic", "돋움", Dotum, sans-serif;
  background: #f9f9f9;
  color: #404040;
  font-weight: 300;
}
img {
  vertical-align: middle;
}
nav,
nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
  height: 50px;
  line-height: 50px;
}
a {
  color: #ffbb57;
}
.container {
  max-width: 1030px;
}
@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}
.like-container .custom-icon {
  color: #eaeaea;
  font-size: 2.4rem;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease;
}
.like-container .custom-icon.active {
  color: #ED264E;
}
.like-container .custom-icon:hover {
  color: #ED264E;
}
.like-container .like-number {
  position: relative;
  top: 5px;
  left: 14px;
  color: white;
  font-size: 0.8rem;
  font-weight: lighter;
}
.y-card {
  background: white;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}
img.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.block-btn {
  width: 4.4rem;
  height: 2.6rem;
  border-radius: 1px;
  border: none;
  background: #ffbb57;
  color: white;
}
.block-btn:hover {
  background: #ffaa2e;
  transition: background 0.2s ease;
}
nav.nav-main {
  background: white;
  color: #404040;
  box-shadow: 0 2px 11px 3px rgba(0, 0, 0, 0.03), 0 2px 14px 2px rgba(0, 0, 0, 0);
}
nav.nav-main .brand-logo img {
  width: 70px;
}
nav.nav-main ul a {
  color: #404040;
}
nav.nav-main li.login .custom-icon {
  font-size: 1.5rem;
  vertical-align: text-bottom;
}
nav.nav-main li.user-info img {
  width: 35px;
}
nav.nav-main li.write a {
  color: white;
  padding-top: 2px;
  padding-right: 0;
}
nav.nav-main li.write a:hover {
  background: inherit;
}
nav.nav-main li.write a:hover span {
  background: #ED264E;
}
nav.nav-main li.write a span {
  transition: all 0.3s ease;
  background: #ffbb57;
  padding: 10px;
  border-radius: 50%;
}
nav.nav-main a.menu {
  color: #dedede;
}
nav.nav-main a.menu span {
  font-size: 1.7rem;
  vertical-align: middle;
}
section.intro h1 {
  font-size: 2.8rem;
  margin: 2rem 0 0.5rem;
  font-weight: 300;
  word-break: keep-all;
}
section.intro h2 {
  font-size: 1.4rem;
  margin: 5px 0;
  color: #b3b3b3;
  word-break: keep-all;
}
section.intro.detail h1 {
  font-weight: 700;
}
section.intro.detail h2 {
  font-size: 1.3rem;
}
section.intro.detail h2 img {
  width: 30px;
}
section.intro.detail h2 .action {
  display: inline-block;
  cursor: pointer;
  padding-left: 0.7rem;
}
section.intro.detail h2 .action span {
  font-size: 1.3rem;
  margin-right: 1px;
}
section.intro.detail h2 .action .edit {
  color: #364F6B;
}
section.intro.detail h2 .action .delete {
  color: #f35454;
}
section.intro.detail .created {
  font-size: 0.9rem;
  float: right;
  color: #cdcdcd;
}
@media (max-width: 599px) {
  section.summary {
    margin-bottom: 0;
  }
}
section.summary .y-card {
  padding: 0.2rem 1rem 1rem;
  min-height: 380px;
  margin-bottom: -4px;
}
@media (max-width: 599px) {
  section.summary .y-card {
    margin-bottom: 1.5rem;
  }
}
section.summary h3 {
  color: #bfbfbf;
  font-weight: 600;
  font-size: 1.2rem;
  color: #7b7b7b;
}
.year-container {
  text-align: right;
  margin: 1rem 0.4rem 1rem 0;
}
.year-container a {
  display: inline-block;
  color: #9c9c9c;
  width: 3.2rem;
  font-size: 1.3rem;
}
.year-container a.active {
  text-decoration: underline;
  font-weight: 600;
  color: #404040;
}
section.posts ul.row {
  margin-top: 0;
}
section.posts .post {
  padding: 0.9rem 0.65rem;
}
@media (max-width: 599px) {
  section.posts .post {
    padding: 0.6rem 0.2rem;
  }
}
@media (min-width: 992px) {
  section.posts .post {
    padding: 0.9rem 0.95rem;
  }
}
section.posts .post > .y-card {
  padding: 5px 13px;
  color: #404040;
  position: relative;
}
section.posts .post > .y-card a.contents-section {
  display: block;
  overflow: hidden;
  padding-bottom: 35px;
  height: 360px;
}
@media (max-width: 599px) {
  section.posts .post > .y-card a.contents-section {
    height: auto;
  }
}
section.posts .post .user {
  color: #6d6d6d;
}
section.posts .post .user img {
  width: 35px;
}
section.posts .post .user p {
  display: inline-block;
  margin-left: 2px;
}
section.posts .post h3 {
  color: #404040;
  font-size: 1.5rem;
  margin: 0.9rem 0 0.6rem;
  text-overflow: ellipsis;
  max-height: 3.1rem;
  overflow: hidden;
}
section.posts .post .summary {
  font-size: 0.9rem;
  color: #9c9c9c;
  margin: 0.8rem 0px;
  overflow: hidden;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
  /* 라인수 */
  line-height: 1.2em;
  max-height: 18em;
}
section.posts .post .summary.has-photo {
  -webkit-line-clamp: 2;
  /* 라인수 */
  line-height: 1.2em;
  max-height: 3.6em;
}
section.posts .post img.thumbnail {
  margin-bottom: 0.8rem;
  max-height: 200px;
}
@media (max-width: 599px) {
  section.posts .post img.thumbnail {
    max-height: 300px;
  }
}
section.posts .post .date-container {
  margin: 10px 0;
  position: absolute;
  bottom: 0;
  width: 90%;
}
section.posts .post .date-container .divider {
  background-color: #f9f9f9;
  margin: 4.5px -0.9rem;
  height: 2px;
}
section.posts .post .date-container .year {
  font-weight: 900;
  display: inline-block;
}
section.posts .post .date-container .created {
  color: #bcbcbc;
  font-weight: lighter;
  display: inline-block;
  float: right;
}
section.posts .post .like-container {
  float: right;
  margin-right: 22px;
  margin-top: 5px;
}
section.posts .post .like-container .custom-icon {
  font-size: 2.2rem;
}
section.posts .post .like-container .like-number {
  top: 3px;
  left: 13px;
  font-size: 0.7rem;
}
#cloud {
  height: 300px;
}
#myChart {
  max-height: 300px;
  max-width: 300px;
  margin: 0 auto;
}
.post-detail.y-card {
  margin-top: 3rem;
  padding: 1.5rem;
}
@media (max-width: 599px) {
  .post-detail.y-card {
    margin: 3rem -1.4rem;
  }
}
.post-detail.y-card .post-contents img {
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
}
section.post-info {
  margin: 2.1rem 0 -0.9rem;
  height: 3rem;
}
section.post-info .like-container {
  display: inline-block;
  float: left;
}
section.post-info a.original-url {
  float: left;
  margin-left: 3rem;
  display: inline-block;
  background: #cdcdcd;
  padding: 5px 8px;
  border-radius: 3px;
  color: white;
  transition: background 0.2s ease;
}
section.post-info a.original-url:hover {
  background: #9c9c9c;
}
section.post-info .share-container {
  margin-top: 5px;
  float: right;
}
section.post-info .share-container span {
  cursor: pointer;
  font-size: 1.6rem;
}
section.post-info .share-container span.icon-facebook {
  color: #3F53B1;
  margin-right: 4px;
}
section.post-info .share-container span.icon-twitter {
  color: #1DA9F0;
}
section.comment {
  padding: 1.5rem 1rem;
  margin-top: 20px;
}
section.comment .comment-post div .wrapper {
  display: -webkit-flex;
  display: flex;
}
section.comment .comment-post div .wrapper textarea {
  -webkit-flex: 1;
  flex: 1;
  padding: 0 1.3rem;
  height: 3rem;
  padding-left: 1rem;
  border: none;
  border-radius: 3rem;
  word-wrap: break-word;
  resize: none;
}
section.comment .comment-post div .wrapper textarea:focus {
  outline: none !important;
  border: none;
}
section.comment .comment-post div .wrapper input {
  width: 4.4rem;
  height: 2.6rem;
  border-radius: 1px;
  border: 1px solid #ffbb57;
  background: none;
  color: #ffbb57;
}
section.comment .comment-post div .wrapper input:hover {
  background: #ffcc80;
  color: white;
  transition: background 0.2s ease;
}
section.comment .comment-list .comment {
  display: -webkit-flex;
  display: flex;
  padding-top: 1.1rem;
  margin-top: 1.1rem;
  border-top: 2px solid #f6f6f6;
}
section.comment .comment-list .comment .comment-wrapper {
  -webkit-flex: 1;
  flex: 1;
  margin-left: 0.8rem;
}
section.comment .comment-list .comment .comment-wrapper .nickname {
  display: inline-block;
  font-weight: bolder;
  color: #ffbb57;
  margin-right: 2px;
}
section.comment .comment-list .comment .comment-wrapper .date {
  display: inline-block;
  font-size: 0.9rem;
  color: #cdcdcd;
}
section.related-posts {
  text-align: center;
  line-height: 3rem;
  height: 3rem;
  margin: 2rem 0;
}
section.related-posts a {
  color: #cdcdcd;
}
section.related-posts a i {
  vertical-align: middle;
}
section.related-posts .past-post {
  float: left;
}
section.related-posts .next-post {
  float: right;
}
.write-o {
  padding: 0.8rem 1.6rem;
  margin-top: 1.3rem;
}
.write-o #input-title {
  font-size: 2.8rem;
  margin: 2rem 0 0.5rem;
  font-weight: 700;
}
.write-o .action {
  text-align: right;
  margin-bottom: 0.5rem;
}
footer.page-footer {
  background-color: #2d2d2d;
  color: white;
}
