@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?48c0nz');
  src:  url('../fonts/icomoon.eot?48c0nz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?48c0nz') format('truetype'),
    url('../fonts/icomoon.woff?48c0nz') format('woff'),
    url('../fonts/icomoon.svg?48c0nz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-th-menu:before {
  content: "\e905";
}
.icon-comment:before {
  content: "\e90b";
}
.icon-pen-alt-fill:before {
  content: "\e904";
}
.icon-feather:before {
  content: "\e900";
}
.icon-bubble:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-brand:before {
  content: "\e906";
}
.icon-social:before {
  content: "\e906";
}
.icon-quill:before {
  content: "\e903";
}
.icon-trashcan:before {
  content: "\e90a";
}
.icon-pencil:before {
  content: "\e909";
}
.icon-heart2:before {
  content: "\e901";
}
.icon-trash-o:before {
  content: "\e908";
}
.icon-github-alt:before {
  content: "\e902";
}
