<section class="intro">
  <h1>Year Of Programming</h1>
  <h2>개발자, 일 년간의 회고</h2>
  <div class="year-container">
    <a href="/" class="active">ALL</a>
    <a href="">2016</a>
  </div>
</section>
<section class="summary">
  <div class="row">
    <div class="col s12 m6">
      <h3>KEYWORDS IN 2016</h3>
      <div id="cloud"></div>
    </div>
    <div class="col s12 m6">
      <h3>LANGUAGES IN 2016</h3>
      <canvas id="myChart"></canvas>
    </div>
  </div>
</section>
<section class="posts">
  <ul class="row">
    <li class="post col s12 m6 l4" *ngFor="let post of posts | reverse">
      <div class="y-card">
        <a class="user">
          <img class="thumbnail circle responsive-img" [src]="post.authorPic"/>
          <p>{{post.author}}</p>
          <div class="like-container" (click)="onLikeBtnClick(post.$key)">
            <span class="custom-icon icon-heart2" [class.active]="post | isLiked: user"></span>
            <span class="like-number">{{ post.likeCount }}</span>
          </div>
        </a>
        <a class="contents-section" routerLink="/posts/{{post.$key}}">
          <h3>{{post.title}}</h3>
          <div class="summary has-photo">{{post.body | removeMd}}</div>
          <img class="thumbnail responsive-img" src="http://cfile30.uf.tistory.com/image/242BE13D587613BD236A4E"/>
        </a>
        <div class="date-container">
          <div class="divider"></div>
          <span class="year">2016</span>
          <span class="created">2017-01-14</span>
        </div>

      </div>
    </li>
  </ul>
</section>
