<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- env -->
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="language" content="Korean">
    <meta http-equiv="content-language" content="KO">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- title -->
    <title>YOP: Year Of Programming</title>
    <meta name="title" content="YOP: Year Of Programming"/>
    <meta name="description"
          content="개발자 회고 아카이브, YOP"/>
    <meta name="keywords"
          content="개발자, 회고, Programming">

    <!-- og -->
    <meta property="og:site_name" content="YOP"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="YOP"/>
    <meta property="og:url" content=""/>
    <meta property="og:description"
          content="개발자 회고 아카이브, YOP"/>
    <meta property="og:image"
          content=""/>

    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:title" content="YOP"/>
    <meta name="twitter:description"
          content="개발자 회고 아카이브, YOP"/>
    <meta name="twitter:image:src"
          content=""/>
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img//favicon.ico" type="image/x-icon">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/font.css">
</head>
<body>
<header>
    <ul id="account-dropdown" class="dropdown-content">
        <li><a href="#!">Signed as milooy</a></li>
        <li class="divider"></li>
        <li><a href="#!">내가 쓴 회고</a></li>
        <li><a href="#!">내가 좋아한 회고</a></li>
        <li class="divider"></li>
        <li><a href="/logout">로그아웃</a></li>
    </ul>
    <div class="navbar-fixed">
        <nav class="nav-main" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">
                    <img src="../img/logo.svg" alt="YOP Logo">
                </a>
                <ul id="nav-top"
                    class="right account-large">
                    <li class="login hide-on-med-and-down"><a href="/login">Login with <span class="custom-icon icon-github-alt"></span></a></li>
                    <li class="user-info hide-on-med-and-down"><a class="dropdown-button" href="#!"
                                                                  data-activates="account-dropdown">
                        <img class="circle responsive-img"
                             src="https://avatars0.githubusercontent.com/u/3839771?v=3&s=460"/>
                        milooy
                        <i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                    <li class="write">
                        <a class="write-container" href="/">
                            <span class="icon-quill"></span>
                        </a>
                    </li>
                </ul>
                <ul id="slide-out" class="side-nav">
                    <li><div class="userView">
                        <div class="background" style="background: #ffbb57"></div>
                        <a href="#!user"><img class="circle" src="https://avatars0.githubusercontent.com/u/3839771?v=3&s=460"></a>
                        <a href="#!name"><span class="white-text name">milooy</span></a>
                        <a href="#!email"><span class="white-text email">jayjinjay@gmail.com</span></a>
                    </div></li>
                    <li><a href="/login">Login with <span class="custom-icon icon-github-alt"></span></a></li>
                    <li><a href="#!">내가 쓴 회고</a></li>
                    <li><a href="#!">내가 좋아한 회고</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="waves-effect" href="#!">Logout</a></li>
                </ul>
                <a href="#" data-activates="slide-out" class="menu button-collapse"><span class="icon-th-menu"></span></a>
            </div>
        </nav>
    </div>
</header>
<main>
    <div class="container">
        <section class="intro detail">

            <h1>2016 회고 + 블로그 결산</h1>
            <h2>
                <img class="thumbnail circle responsive-img" src="http://cfile1.uf.tistory.com/image/273BA14B5830BF850BACD5"/>
                개발자 <a href="https://github.com/qkraudghgh">zineeworld</a>의 <span class="year">2016</span>년
                <span class="created">2017-01-14</span>
            </h2>
        </section>
        <section class="post-detail y-card">
            V2를 릴리즈하고 여러 기능들이 추가되고 개선되면서 서비스를 만들어 가기에 매우 바빴던 한 해였다. 회사의 메인 서비스 웹/모바일 웹 마크업을 혼자서 전담해서 개발할 수 있다는 것은 매우 뿌듯한 일이었다. 3월까지는 웹만 만들었었는데 4월에 한 달 만에 모바일 웹을 만들어야 했을 때 막막했던 기억이 난다. 이제와서 하는 말이지만 이전까지는 모바일 웹 개발은 많이 안해봤기에 약간 걱정이 되었던 것 같다. 지금 생각해보면 크게 겁 먹을 것도 없는데 말이다. backbone, mean stack, python scrapy, nginx 등 이것저것 다양하게 접해보면서 자극을 받으려고 노력했던 한 해였다.
            6월 22일에는 입사 한 지 1년을 맞이했고, 8월부터는 맥으로 개발 장비를 바꿨다. 처음 써보는 거라 이 역시도 걱정을 했으나 금방 적응을 했다. 한 번도 맥을 안써본 사람은 있어도 한 번만 쓸 사람은 없다는 말이 맞는 것 같다. 이제 윈도우로는 다시 못 돌아갈 것 같다. 소소한 FE 프로젝트로는 이메일 툴을 만들었다. 실장님과 가장 이야기를 많이 나눴던 시기였다. 연말에는 CSS드로잉에 빠져서 20개의 그림을 그렸다. 생활코딩에서도 좋은 반응을 얻어 기분이 좋았다. 초급 튜토리얼을 만들어 공유하기도 했다. 사내 스터디로 HTTP를 공부했다. 어려운 부분도 많았지만 함께 했기에 두꺼운 책을 한 번은 볼 수 있었던 계기가 되었던 것 같다. 12월에는 직장생활 만 3년만에 처음으로 연봉협상을 했다. 이전까지는 거의 회사가 나에게 통보하는 방식이었는데 굉장히 생경하면서도 기억에 남는 순간이었다. 나 자신을 객관적으로 평가하는 눈을 갖게 되는 계기가 되었다.
            어느 해보다 블로그를 열심히 했던 것 같다. 보통은 일하면서 내가 막혔던 부분들을 해결 했을 때 잊지 않기 위해 그리고 나와 비슷한 문제로 헤매고 있는 사람들에게 도움이 되기 바라며 적어놓았다. 2016년 방문자는 총 42286명을 기록했다. 2016년 포스팅들은 주로 팁이나 짧은 노하우 위주였다면 2017년에는 공유 될 만한 양질의 '글'을 쓰는 것이 목표다. 외국글도 열심히 읽고 번역해서 올리는 것도 해보자!
        </section>
        <section class="post-info">
            <div class="like-container">
                <span class="custom-icon icon-heart2"></span>
                <span class="like-number">13</span>
            </div>
            <a class="original-url" href="http://zinee-world.tistory.com/448">원문으로 읽기</a>
            <div class="share-container">
                <span class="icon-facebook"></span>
                <span class="icon-twitter"></span>

            </div>
        </section>
    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="">Made with ♥️️ <a href="https://github.com/milooy">@milooy</a>, <a href="https://github.com/qkraudghgh">@qkraudghgh</a>, <a href="https://github.com/Leop0ld">@Leop0ld</a>, <a href="https://github.com/kyeongwan">@kyeongwan</a> </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a href="#!">Terms</a>
            <a href="#!">Security</a>
            <a href="#!">Status</a>
            <a href="#!">Help</a>
            <div class="right">© 2017 <a href="">9XD</a></div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script src="../js/base.js"></script>
</div>
</body>
</html>
