<section class="intro detail">
  <h1>{{(post | async)?.title}}</h1>
  <h2>
    <img class="thumbnail circle responsive-img" src="{{(post | async)?.authorPic}}"/>
    개발자 <a href="https://github.com/qkraudghgh">{{(post | async)?.author}}</a>의 <span class="year">{{(post | async)?.year}}</span>년
    <span class="created">2017-01-14</span>
  </h2>
</section>
<section class="post-detail y-card">
</section>
<section class="post-info">
  <div class="like-container">
    <span class="custom-icon icon-heart2"></span>
    <span class="like-number" [class.active]="isStared">{{(post | async)?.starCount}}</span>
  </div>
  <a class="original-url" href="{{(post | async)?.original_url}}">원문으로 읽기</a>
  <div class="share-container">
    <span class="icon-facebook"></span>
    <span class="icon-twitter"></span>
  </div>
</section>
<section class="comment y-card">
  <div class="comment-post">
    <div id="comment">
      <div class="wrapper">
        <img class="avatar" [src]="user?.photoURL"/>
        <textarea placeholder="생각을 남겨주세요" [(ngModel)]="commentBody"></textarea>
        <input type="button" value="게시" (click)="onWriteBtnClick()"/>
      </div>
    </div>
  </div>
  <div class="comment-list">
    <div class="comment" *ngFor="let comment of comments | async">
      <img class="avatar" [src]="comment.authorPic"/>
      <div class="comment-wrapper">
        <div class="nickname">{{comment.author}}</div>
        <div class="date">{{comment.createDate | date: 'yyyy-MM-dd'}}</div>
        <div class="comment-text">{{comment.text}}</div>
      </div>
    </div>
  </div>
</section>
