<section class="intro detail">
  <h1>{{(post | async)?.title}}</h1>
  <h2>
    <img class="thumbnail circle responsive-img" src="{{(post | async)?.authorPic}}"/>
    개발자 <a>{{(post | async)?.author}}</a>의 <span class="year">{{(post | async)?.year}}</span>년
    <div class="action">
      <span class="edit" *ngIf="isAuth" routerLink="/posts/write/{{postKey}}">
        <span class="icon-pencil"></span>
      </span>
      <span class="delete" *ngIf="isAuth" (click)="onDeleteBtnClick()">
        <span class="icon-trashcan"></span>
      </span>
    </div>
    <span class="created">{{(post | async)?.createDate | date:"yyyy-MM-dd"}}</span>
  </h2>
</section>
<section class="post-detail y-card">
  <div class="post-contents"></div>
  <section class="post-info">
    <div class="like-container">
      <span class="custom-icon icon-heart2" (click)="onLikeBtnClick()" [class.active]="isLiked"></span>
      <span class="like-number">{{(post | async)?.likeCount}}</span>
    </div>
    <a class="original-url" href="{{(post | async)?.originalURL}}" *ngIf="(post | async)?.originalURL != ''" target="_blank">원문으로 읽기</a>
    <div class="share-container">
      <span class="icon-facebook"></span>
      <span class="icon-twitter"></span>
    </div>
  </section>
</section>
<section class="comment y-card">
  <div class="comment-post">
    <div id="comment">
      <div class="wrapper" *ngIf="isLogin">
        <img class="avatar" [src]="user?.photoURL"/>
        <textarea class="comment-text" placeholder="생각을 남겨주세요" [(ngModel)]="commentBody"></textarea>
        <input type="button" value="게시" (click)="onWriteBtnClick()"/>
      </div>
      <div class="wrapper" *ngIf="!isLogin">
        <span>댓글을 작성하시려면 로그인 해주세요</span>
      </div>
    </div>
  </div>
  <div class="comment-list">
    <div class="comment" *ngFor="let comment of comments | async | reverse">
      <img class="avatar" [src]="comment.authorPic"/>
      <div class="comment-wrapper">
        <div class="nickname">{{comment.author}}</div>
        <div class="date">{{comment.createDate | date: 'yyyy-MM-dd'}}</div>
        <div class="comment-text">{{comment.text}}</div>
      </div>
    </div>
  </div>
</section>
<section class="related-posts">
  <a href="" class="past-post"><i class="material-icons">&#xE5CB;</i>이전 회고</a>
  <a href="/" class="to-list">목록으로</a>
  <a href="" class="next-post">다음 회고<i class="material-icons">&#xE409;</i></a>
</section>
